/* FLORALWHITE #FFFAF0
 IVORY #FFFFF0
LIGHTGREY #D3D3D3
SEASHELL #FFF5EE
DARKSLATEGRAY #2F4F4F
BEIGE #F5F5DC
TAN #D2B48C
*/

/* GLOBAL */
body {
    background-color: #FFFAF0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

h1, h2{
    font-family: 'Oswald', sans-serif;
    margin: 10px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

ul {
    list-style-type: none;
}
#header-top {
    background-color: #FFFFF0;
    height: 220px;
}

#footer-last {
    height: 200px;
    background-color: #2F4F4F;
}

header, footer {
    text-align: center;
    padding: 20px;
}

/* BASICS */
.basic-footer {
    display: inline-block;
    margin-top: 30px;
}

.basic-wrapper {
    margin: 0 auto;
    width: 1500px;
}

.basic-aside {
    float:left;
    text-align: right;
    width: 30%;
}

.basic-article {
    float: right;
    width: 45%;
}

.basic-cotainer {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.basic-title {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
}

.basic-thoughts {
    float: right;
    width: 25%;
}
/* PROFILE */

#profile-image {
    float: right;
    width: 300px;
}

#profile-details {
    float: right;
    width: 700px;
}


/* WORK EXPERIENCE */

.work-experience {
    background-color: #FFFAF0;
}


/* EDUCATION */

#education {
    text-align: center;
    background-color: #FFF5EE;
}