/* FLORALWHITE #FFFAF0
 IVORY #FFFFF0
LIGHTGREY #D3D3D3
SEASHELL #FFF5EE
DARKSLATEGRAY #2F4F4F
BEIGE #F5F5DC
TAN #D2B48C
*/

/* GLOBAL */
body {
    background-color: #FFFAF0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto
}

h1, h2{
    font-family: 'Oswald', sans-serif;
    margin: 10px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}
#header-top {
    background-color: #FFFFF0;
    #FFFFF0;
    height: 220px;
}

#footer-last {
    height: 200px;
    background-color: #2F4F4F;
}

header, footer {
    text-align: center;
    padding: 20px;
}

/* BASICS */
.basic-footer {
    display: inline-block;
    margin-top: 30px;
}

.basic-aside {
    float:left;
    width: 33%;
}

.basic-article {
    float: right;
    text-align: center;
    width: 67%;
}

.basic-cotainer {
    padding: 20px;
    text-align: center;
}
/* PROFILE */

#profile-image {
    float: left;
    width: 33%;
}

#profile-details {
    float: right;
    width: 33%;
}
/* WORK EXPERIENCE */

#work-experience {
    background-color: #FFFAF0;
}

/* EDUCATION */

#education {
    text-align: center;
    background-color: #FFF5EE;
}

.education-header {
    padding-top: 50px;
}